body{
    background-image: url("images/3DraceGame\ -\ LevelSelect\ -\ Windows\,\ Mac\,\ Linux\ -\ Unity\ 2021.3.13f1\ Personal\ _DX11_\ 2_2_2023\ 6_27_32\ PM.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}